@font-face {
  font-family: P-Light;
  src: url('https://eshsrtiranga.github.io/fonts/Poppins-Light.woff') format('woff');
}


* {
  margin: 0;
  padding: 0;
  user-select: none;
}

:root {
  --brown: #5b1d0b;
  --darkerbrown: #361106;
  --scrollbarthumbcolour: rgb(164, 164, 164);
}

::-webkit-scrollbar {
  width: 0px;
  /* background-color: rgb(255, 237, 215); */
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  font-family: P-Light;
}


body{
  user-select:none;
  font-family: P-Light;
  color:white;
  background: linear-gradient(rgba(2, 4, 14, 0.4), rgba(2, 4, 14, 0.4)), url("https://eshsrtiranga.github.io/Resources/Images/redfort.jpg");
  background-size: 100% 100%;
  
  background-attachment: fixed;
  text-align:center;
  font-size:1.7vw;
}

.centre{
  border-radius:10vw;
  width:50%;
  margin-bottom: 20vw;
  display: inline-block;
  text-align: center;
  margin-top: 5vw;
  align-items: center;
  flex-direction: column;
  background: rgba(26, 26, 26, 0.97);
  box-shadow: 0 0 1vw rgba(0, 0, 0, 2);
}


.categorytitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bolder;
  color: #60aefb;
  display: inline-block;
}

.eventtitle {
  margin: 10px;
  font-size: large;
  font-weight: bold;
  display: inline-block;
}


#content {
  z-index: 99;
  padding-top: 180px;
}

#logo {
  align-content: center;
  height: 120px;
  width: auto;
  margin-left: 50px;

}

#events {
  margin-top: 180px;
  margin-bottom: 50px;
  float: center;
  font-size: 20px;
  height: 70px;
  width: 150px;
  background-color: transparent;
  border-radius: 30px;
  border-color: aliceblue;
}

#events a {
  text-decoration: none;
  color: aliceblue;
  transition: .6s;
}

#events:hover {
  transition: .6s;
  background-color: white;
}

#events a:hover {
  transition: .6s;
  /* background-color: #361106; */
  color: #1188ff;
}

#logo {
  margin-bottom: 100px;
  /* margin-left: 50px; */
}

h1 {
  font-size: 40px;
  font-family: P-Light;
}

.Button {
  text-align: center;
  text-decoration: none;
  color:white;
  margin:10vw;
  border:.1vw solid white;
  height: 1vw;
  width: 40vw;
  padding:.5vw;
  font-size: 2vw;
  font-family: P-Light;
  border-radius: 5vw;
  transition: all .4s;
}

.Button:hover{
  background-color: white;
  color:black;
}
